.h1
  home
-#.fb-like{"data-href" => "#{@page_url}", "data-send" => "true", "data-width" => "450", "data-show-faces" => "false"
- if (params[:code])
  code exists
  %br
  = session[:oauth]
  %br
  = params[:code]
- else
  code does not exist
  = link_to "authorize", @auth_url
%br

