/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  min-width: 1260px;
  
  background-image: url('groupon.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  color: #0060cd;
  font-family: Tahoma, Georgia;
}

.border_style {
  border-style: solid;
  border-width: 2px;
  border-color: #00D061;
}

.fb-login-button {
  padding-bottom: 10px;
  padding-left:   10px;
}

.fb-like {
  float: auto;
  padding-left: 10px;
  padding-bottom: 10px;
}

.fb-activity {
  padding-left:   10px;
  padding-bottom: 10px;
}

.find-groupons {
  float: left;
  text-align: center;
  
}

.page_container {
  display: inline-block;
  width: 100%;
  margin-left:  auto;
  margin-right: auto;
}

.column {
  position: relative;
  float: left;
  padding: 10px;
}

.display_deal {
  margin-top: 21px;
  width: 440px;
  
}

.display_groupons {
  width: 440px;

  text-align: center;
}

#fb-info-container {
  width: 320px;
}

.fb-info {
  background: #ffffff;
  padding-top: 10px;
  margin-bottom: 15px;
  margin-top: 20px;
}

#display-fb-comments {
  padding-top: 5px;
  background-color: white;
}

.display_merchant_title {
  text-align: center;
  font-size: 110%;

}

.display_announcement {
  font-size: 90%;
  color: #2090ce;
}

.display_announcement#expired {
  font-size: 80%;
}

#expired {
  color: #aaaaba;
  font-style: italic;
  font-size: 95%;
}

p#expired {
  color: #ffaaaa;
  text-align: center;
}

table.groupon_deal {
  
}

tr {
  height: 80px;
}

td {
  border-style: solid;
  border-width: 1px;
  border-color: #00D061;
  padding: 5px;

  background-color: white;
}

td.groupon_name {
  width: 325px;
  padding-left: 10px;
}

td.groupon_image {
  width: 100px;
  text-align: center;
}

li {
  
}

a {
  color: #0050aa;
  text-decoration: none;
}

a:visited {
  color: #003575;
}

a:hover {
  color: #3080ff;
  text-decoration: underline;
}



a.home_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: #ddffee;
  background: #30a540;
  font-size: 150%;
  font-weight: bold;
  padding: 20px;
  
  border-style: solid;
  border-width: 1px;
  border-color: #008000;

}

a.home_button:hover {
  color: #fff;
  background: #007210;
  text-decoration: none;

  border-color: #00D061;

}

.pitch {
  background-color: white;
  padding: 5px;
}

p {
  color: #0050aa;
}

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}


ul.alerts {
  margin: auto;
  list-style-type: none;
  padding: 5px 0 5px 0;
  width: 20%;

}

li.error {
  background: #ffdcd7;
  padding: 5px;

  border-style: solid;
  border-width: 1px;
  border-color: #800000;
}

#error_message {
      color: red;
      background: image-url("http://www.groupon.com/images/groupon/icons/error.gif");
      font-size: 20px;
      padding: 5px 0 5px 20px;
      text-align: center;
}
