/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  background-image: url('groupon.jpg');
  color: #0060cd;
  font-family: Tahoma, Georgia;
}

.fb-info {
  width: 320px;
  float: right;
  background: #ffffff;
  padding-top: 10px;
  margin-top: 30px;

  border-style: solid;
  border-width: 2px;
  border-color: #00D061;

}

.fb-login-button {
  float: left;
  padding-bottom: 10px;
  padding-left:   10px;
}

.fb-like {
  float: auto;
  padding-left: 10px;
  padding-bottom: 10px;
}

.fb-activity {
  padding-left:   10px;
  padding-bottom: 10px;
}

.find-groupons {
  width: 600px;
  text-align: center;
  margin-left:  auto;
  margin-right: auto;
  
}

.display_groupons {
  float: left;
  text-align: center;
}

.display_merchant_title {
  text-align: center;
  font-size: 120%;

}

.display_announcement {
  font-size: 92%;
  color: #2090ce;
}

table.groupon_deal {
  
  border-style: solid;
  border-width: 2px;
  border-color: #00D061;
}

tr {
  height: 80px;
}

td {
  border-style: solid;
  border-width: 1px;
  border-color: #00D061;
  padding: 5px;

  background-color: white;
}

td.groupon_name {
  width: 350px;
  padding-left: 15px;
}

td.groupon_image {
  width: 120px;
  text-align: center;
}

li {
  
}

a {
  color: #0050aa;
  text-decoration: none;
}

a:visited {
  color: #003575;
}

a:hover {
  color: #3080ff;
  text-decoration: underline;
}

a.home_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: #fff;
  background: #006400;
  font-size: 150%;
  font-weight: bold;
  padding: 20px;
}

p {
  color: #0050aa;
}

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}
