/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  min-width: 1120px;
  
  background-color: #80B150;
  background-size: 100%;
  color: #0060cd;
  font-family: Tahoma, Georgia;
}

.container {
  background-image: url('groupon.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
}

.border_style {
  border-style: solid;
  border-width: 2px;
  border-color: #00D061;
}

.fb-login-button {
  padding-bottom: 10px;
  padding-left:   10px;
}

.fb-like {
  float: auto;
  padding-left: 10px;
  padding-bottom: 10px;
}

.fb-activity {
  padding-left:   10px;
  padding-bottom: 10px;
}

.find-groupons {
  float: left;
  text-align: center;
  
}

.home_container {
  width: 650px;
}

.page_container {
  display: inline-block;
  width: 100%;
  margin-left:  auto;
  margin-right: auto;
}

.column {
  position: relative;
  float: left;
  padding: 10px;
}

.display_deal {
  width: 300px;
  margin-top: 6px;
}

.display_deal_left {
  width: 455px;
  float: left;
  
}

.display_deal_right {
  position: absolute;
  margin-top: 10px;
  width: 315px;
  left: -5px;
}

.static {
  float: left;
}

.display_deal_left.static {
  padding-top: 20px;
}

.display_deal_right.static {
  left: 2px;
  position: relative;
  margin-top: 20px;
  padding: 0px;
}

.display_groupons {
  width: 440px;
  text-align: center;
}

#fb-info-container {
  width: 320px;
}

.fb-info {
  background: #ffffff;
  padding-top: 10px;
  margin-bottom: 15px;
  margin-top: 20px;
}

#display-fb-comments {
  padding-top: 5px;
}

.display_merchant_title {
  text-align: center;
  font-size: 110%;

}

.display_announcement {
  font-size: 90%;
  color: #2090ce;
}

.display_announcement#expired {
  font-size: 80%;
}

#expired {
  color: #aaaaba;
  font-style: italic;
  font-size: 95%;
}

p#expired {
  color: #ffaaaa;
  text-align: center;
}

table.groupon_deal {
  
}

tr {
  height: 80px;
}

td {
  border-style: solid;
  border-width: 1px;
  border-color: #00D061;
  padding: 5px;

  background-color: white;
}

td.groupon_name {
  width: 325px;
  padding-left: 10px;
}

td.groupon_image {
  width: 100px;
  text-align: center;
}

li {
  
}

a {
  color: #0050aa;
  text-decoration: none;
}

a:visited {
  color: #003575;
}

a:hover {
  color: #3080ff;
  text-decoration: underline;
}



a.view_button {
  display: block;
  float: left;
  text-align: center;
  width: 100px;
  color: #ddffee;
  background: #30a540;
  font-size: 125%;
  font-weight: bold;
  padding: 4px;
  
  border-style: outset;
  border-width: 3px;
  border-color: #009000;

}

a.view_button:hover {
  color: #fff;
  background: #007210;
  text-decoration: none;

  border-color: #00a040;

}

a.buy_button {
  float: right;
  margin-left: 20px;
  display: block;
  text-align: center;
  width: 100px;
  color: #ddffee;
  background: #30a540;
  position: relative;
  font-size: 125%;
  font-weight: bold;
  padding: 4px;
  
  border-style: outset;
  border-width: 3px;
  border-color: #009000;

}

a.buy_button:hover {
  color: #fff;
  background: #007210;
  text-decoration: none;

  border-color: #00a040;

}

.box_style {
  background-color: white;
  padding: 5px;
  margin: 5px 5px 9px 5px;
}

#pitch {

}

#highlights {

}

#fineprint {

}

#merchant_info {
  float: left;
  width: 275px;

}

#merchant_name {
  background-color: #a1fcc3;
  color: #103070;
  font-size: 120%;
  margin-bottom: 3px;
  text-align: center;  
}

#merchant_description {
  color: #3060a0;
  font-size: 90%;
  padding: 4px;
}

#dealimage {
  float: right; 
}

.title_fade {
  color: #a0b0cc;
  font-size: 110%;
  text-align: center;
}

#deal_header {
  display: inline-block;
  width: 430px;
}

#deal_links {

}

#deal_link_holder {
  display: inline-block;
  margin-bottom: 10px;
  margin-left: 20px;
}

#deal_link_info {
  color: #008040;
  font-size: 125%;
  text-align: center;
}

p {
  color: #0050aa;
}

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}


ul.alerts {
  margin: auto;
  list-style-type: none;
  padding: 5px 0 5px 0;
  width: 50%;

}

li.error {
  background: #ffdcd7;
  padding: 5px;

  border-style: solid;
  border-width: 1px;
  border-color: #800000;
}

#error_message {
      color: red;
      background: image-url("http://www.groupon.com/images/groupon/icons/error.gif");
      font-size: 20px;
      padding: 5px 0 5px 0px;
      text-align: center;
}

#jquery_arrow {
  font-size: 95%;
  height: 20px;
  margin-top: 0px;
  width: 160px;
  position: absolute;
  top: 125px;
  left: 100px;

}

#deal_static_left {
  width: 430px;
}

#deal_static_right {
  width: 275px;
}
