#deal_links.border_style.box_style.round
  #deal_link_holder
    = link_to "View", "/groupon_deal/#{@groupon[:id]}?view=true", {:class => "view_button round", :target => "_blank"}
  #deal_link_info
    On Groupon.com
