-#= @page_url
-#= params[:action]
- if params[:static_page]
  - if @groupon.present?
    = render 'groupon_deal/showdeal_static'
  - else
    Sorry this deal no longer exists
- else
  = render 'groupon_deal/showdeal_left'
