= render 'layouts/feed_refresh'
#fb-info-container.column
  %div{:class => "fb-info round border_style"}
    #display-fb-like
      %div{:class => "fb-like", "data-send" => "true", "data-layout" => "standard", "data-href" => "#{@page_url}", "data-width" => "100", "data-show-faces" => "false"}
    %br
    #fb-feed
      = render 'layouts/facebookfeed_display'
    %div{:class => "fb-login-button", "data-show-faces" => "true", "data-width" => "300", "data-max-rows" => "1"}

  .round#display-fb-comments
