%div{:class => "fb-activity", "data-app-id" => "287031438061468", "data-width" => "300", "data-height" => "600", "data-header" => "true", "data-border-color" => "#20ee40", "data-recommendations" => "false"}
